// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$turquoise: #719192;
$joli-gris: #EEEEEE;

// color ecolab :
$purple: #BE52F2;
$light-purple: #DBA5F5;

$blue: #6979F8;
$light-blue: #E5E7FA;

$yellow: #FFCF5C;
$light-yellow: #FFE29D;

$red: #FF647C;
$light-red: #FDAFBB;

$green: #00C48C;
$light-green: #7DDFC3;

$orange: #FFA26B;
$light-orange: #FFC7A6;




