.container-wip {
  background-color: white;
  height: 600px;
}

.wip-content {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-top: 50px;
  justify-content: space-between;
}

.titre-wip {
  font-size: 33px;
  font-weight: 600;
  width: 400px;
}

.para-wip {
  font-size: 17px;
  font-weight: lighter;
  color: grey;
  width: 400px;
}

.work-in-progress {
  display: flex;
  flex-direction: column;
}

.illustration-wip {
    width: 435px;
    height: 450px;
}

.contact-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 210px;
}

.form-control {
  width: 400px !important;
}

.contact-form .td .form-control .message {
  height: 300px !important;
  width: 400px !important;
}
