.container-wip {
  background-color: white;
  height: 600px;
}

.wip-content {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-top: 60px;
  justify-content: space-between;
}

.titre-wip {
  font-size: 33px;
  font-weight: 600;
  width: 500px;
}

.para-wip {
  font-size: 16px;
  font-weight: lighter;
  color: grey;
  width: 500px;
}

.work-in-progress {
  display: flex;
  flex-direction: column;
}


.illustration-wip {
    width: 435px;
    height: 450px;
    margin-bottom: 40px;
}

.contact-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 210px;
}

.form-control {
  width: 400px !important;
}

.form-control #message {
  height: 300px !important;
  width: 400px !important;
}
