.nom-produit {
  font-weight: light;
  font-size: 24px;
  letter-spacing: 1px;
  color: grey;
}

.description-produit {
  font-size: 14px;
  font-weight: 200;
  max-width: 25rem;
  color: grey;
}

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint

.section-produit img {
  display: none;
}

@include media-breakpoint-up(sm) {
  .section-produit img {
    display: block;
  }
}
