@media(max-width: 1260px) {
  .aliments-array {
    width: 580px;
    justify-content: space-between;
  }
  .tableau-donnees-bloc {
    flex-direction: row;
    margin: 0px;
  }
}




@media(max-width: 640px) {
  .aliment-section {
    flex-direction: column;
  }
  .section-badge {
    flex-direction: column;
  }
  .aliments-array {
    width: 348px;
  }
  .tableau-donnees-bloc {
    flex-direction: column;
    margin: 0px;
  }
}
