<footer class="footer" role="contentinfo">
    <div class="container">
      <div class="footer__logo">
        <img src= <%= image_path('ademe-logo.jpg') %>>
        <!-- <div class="footer-reseaux">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div> -->
      </div>

        <ul class="footer__links">
          <li><h2>Ecolab</h2></li>
          <li><a href="https://beta.gouv.fr/startups/ecolab.html">Qui sommes-nous ?</a></li>
          <li><a href="https://beta.gouv.fr/apropos/">Les start-ups d’état</a></li>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="/nouscontacter">Contactez-nous !</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>Nous aider</h2></li>
          <li><a href="https://github.com/JenniferStephan/Ecolab">Contribuer sur Github</a></li>
          <li><a href="https://github.com/JenniferStephan/Ecolab">Envoyer une suggestion</a></li>
          <li><a href="https://github.com/JenniferStephan/Ecolab/issues">Proposez vos données</a></li>
        </ul>

        <ul class="footer__links">
          <li><h2>En collaboration avec</h2></li>
          <li><a href="https://www.ademe.fr/">ADEME</a></li>
          <li><a href="https://beta.gouv.fr/apropos/">Beta.gouv.fr</a></li>
          <li><a href="https://beta.gouv.fr/apropos/">Data.ademe.fr</a></li>
        </ul>

    </div>
  </footer>
