<div class="d-flex flex-row text-align-center">
  <div class="">
    <%= form_tag "#", method: :get, class: "searchbar form-inline search-form-control" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "td form-control",
        placeholder: "Données ouvertes et recherche disponibles courant 2020"
      %>
    <% end %>
  </div>



</div>

<!-- <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" placeholder="Rechercher un aliment" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form> -->


