<section class="section-rs">
  <div class="twitter-flex d-flex flex-row align-items-center justify-content-around">
    <div class="d-flex flex-column mb-2 align-items-center">
      <h4 class="titre-news w-60">Suivez-nous et échangez avec l'équipe également sur Twitter</h4>
      <img class="image-rs" src="<%= image_path('transport/tweet') %>"/>
    </div>
    <a class="twitter-timeline" data-width="400" data-height="350" data-theme="dark" href="https://twitter.com/Ecolab_betagouv?ref_src=twsrc%5Etfw">Les tweets d'Ecolab_betagouv</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</section>
