<div class="container-wip">

<div class="wip-content">
  <div class="work-in-progress">
    <h1 class="titre-wip">Cette page est en cours de développement</h1>
    <p>Laissez nous votre contact afin d'être tenus informés</p>
    <img class="illustration-wip" src="<%= image_path('undraw_balloons_vxx5.svg') %>"/>
  </div>

  <div class="contact-form">
    <%= text_field_tag :name, params[:name], class: "td form-control w-80", placeholder: "Votre nom"%>
    <%= text_field_tag :email, params[:email], class: "td form-control w-80", placeholder: "Votre email"%>
    <%= text_field_tag :message, params[:message], class: "td form-control w-80", placeholder: "Votre message"%>
  </div>
</div>



</div>
