    <div class="welcome-card">
      <h2>Bonjour Jenn !</h2>
      <p>Que souhaitez-vous faire aujourd'hui ?</p>
      <div class="two-actions-from-homepage-card">
        <%= link_to "Créer une nouvelle facture", root_path, class: "button" %>
        <%= link_to "Gérer mes factures", root_path, class: "second-button-on-the-right button-white-background-and-yellow-text" %>
      </div>
      <img class="illustration" src="<%= image_path('undraw_balloons_vxx5.svg') %>"/>
    </div>
