<h1>Mentions Légales</h1>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div>
        <h2>Informations légales</h2>
        <p>Ecolab est un service créé par l'<a href="https://www.ademe.fr" alt="ADEME">ADEME</a> en partenariat avec <a href="https://beta.gouv.fr/" alt="Beta.gouv.fr">Beta.gouv.fr</a>.</p>
        <p>
          Siège social de l'ADEME :<br/>
          20, avenue du Grésillé<br/>
          BP 90406<br/>
          49004 Angers Cedex 01<br/>
          Tél. : 02 41 20 41 20<br/>
        </p>
      </div>

      <div>
        <h2>Directeur de publication</h2>
        <p>Martin Régner - ADEME</p>
      </div>

      <div>
        <h2>Prestataire d'hébergement</h2>
        <p>
          Heroku, Inc<br/>
          321 11th Street San Francisco,<br/>
          CA - Etats-Unis
        </p>
        <p>Les données sont hébergées en Europe.</p>
      </div>
    </div>
  </div>
</div>