<div class="container h-100 mt-4">
  <h1 class="mb-5">Statistiques 📈</h1>

  <!-- visiteurs sur le site -->
  <h2 class="mb-4">Nombre de visites sur les simulateurs et le site</h2>
  <div id="widgetIframe" class="mb-5"><iframe width="100%" height="250" src="https://stats.data.gouv.fr/index.php?module=Widgetize&action=iframe&forceView=1&viewDataTable=graphEvolution&disableLink=0&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=128&period=day&date=yesterday&disableLink=1&widget=1" scrolling="yes" frameborder="0" marginheight="0" marginwidth="0" backgroundcolor="transparent"></iframe></div>

  <div class="infogram-embed" data-id="6927d008-7eb4-4cc3-a1ee-85e64d7722ec" data-type="interactive" data-title="Statistiques Ecolab"></div><script>!function(e,i,n,s){var t="InfogramEmbeds",d=e.getElementsByTagName("script")[0];if(window[t]&&window[t].initialized)window[t].process&&window[t].process();else if(!e.getElementById(n)){var o=e.createElement("script");o.async=1,o.id=n,o.src="https://e.infogram.com/js/dist/embed-loader-min.js",d.parentNode.insertBefore(o,d)}}(document,0,"infogram-async");</script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a href="https://infogram.com/6927d008-7eb4-4cc3-a1ee-85e64d7722ec" style="color:#989898!important;text-decoration:none!important;" target="_blank">Statistiques Ecolab</a></div>

<!--   <script id="infogram_0_6927d008-7eb4-4cc3-a1ee-85e64d7722ec" title="Note Board" src="https://e.infogram.com/js/dist/embed.js?t8U" type="text/javascript"></script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a href="https://infogram.com/6927d008-7eb4-4cc3-a1ee-85e64d7722ec" style="color:#989898!important;text-decoration:none!important;" target="_blank">Note Board</a></div>
 -->
  <p>Toutes les statistiques de visites sont publiques et accessibles <span><a href="https://stats.data.gouv.fr/index.php?module=CoreHome&action=index&idSite=128&period=range&date=previous30&updated=1#?idSite=128&period=range&date=previous30&category=Dashboard_Dashboard&subcategory=1">ici sur Matomo</a></span>. Pour plus d'infos, n'hésitez pas à consulter notre page <span><a href="/vieprivee">Vie Privée</a></span>.</p>
</div>
