
<div class="hero" role="banner">
    <div class="hero__container hero__container_landing p-5" style="background: linear-gradient(0deg, #D8E8F4, #7DDFC3);">

      <%#= image_tag("data.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('transport/undraw_scooter_aia8.svg') %>"/>

        <div class="texts-banner">
          <h1 class="banner_title-trans">L'impact climat de nos déplacements</h1>
          <%#= render '/shared/search-bar' %>
          <p class="banner_subtitle">Chiffrer notre impact et adapter notre mobilité quotidienne à des modes de transport moins émetteurs en carbone.</p>
        </div>
      <%#= image_tag("empreinte.svg", {:style => "width:70vh; margin: 10px; height: 70vh;"}) %>
      <img class="images-banner" src="<%= image_path('transport/undraw_Ride_a_bicycle_2yok.svg') %>"/>
    </div>
</div>

<div class="container" style="height: fit-content; background-color: white; padding: 4vh; border-radius: 30px;">
<script id="ecolab-transport" data-couleur="purple" src="https://ecolab-transport.netlify.com/iframe.js"></script>




</div>
