.badge {
padding: 8px;
border-radius: 30px;
}

.badge a {
text-decoration: none;
}

.badge a {
color: white;
}

.badge a:hover {
color: black;
}

.badge-danger {
  background-color: #F4BACB;
}

.badge-cate {
  font-size: 8px;
  max-width: fit-content;
  background-color: #F4BACB;
  padding-left: 0.9em;
  padding-right: 0.9em;
  border-radius: 30px;
}

.badge-beta {
  font-size: 10px;
  color: white;
  max-width: fit-content;
  background-color: #F4BACB;
  padding-left: 0.9em;
  padding-right: 0.9em;
  margin-left: 18em;
  border-radius: 30px;
}

#text-badge {
  font-size: 10px;
  color: white;
}
