.images-banner {
  width: 570px;
  height: 500px;
}

.hero .banner_title-trans {
    color: var(--theme-dark-text);
    font-size: 2em;
    font-weight: bold;
    max-width: 56rem;
    text-align: center;
    margin: 0 1rem;
}

.section-trans {
  height: 450px;
  padding-left: 100px;
  padding-right: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: $light-green;
}

.section-trans p {
  width: 700px;
  font-size: 20px;
  color: white;
}

.section-trans img {
  width: 70vh;
  height: 70%;
  margin: 1em;
}




