.hero__container_alim {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(alimentation/Banner);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 756px;
    width: -webkit-fill-available;
    background-color: white;
}

.hero h1 {
  margin-bottom: 0;
  font-family: $headers-font;
}

.hero-color h1 {
  color: var(--theme-light-text);
}

.hero .search_title {
  // margin: var(--space-s) auto;
  color: var(--theme-dark-text);
  font-size: 1.7em;
  max-width: 7000px;
  text-align: center;
}

.hero .banner_title {
  /* margin: var(--space-s) auto; */
  color: var(--theme-dark-text);
  font-size: 2em;
  font-weight: bold;
  max-width: 56rem;
  text-align: center;
  margin: 0 1rem;
}

.hero .banner_subtitle {
  font-family: $body-font;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
}

.hero-color p {
  color: var(--theme-light-text);
}

.texts-banner {
  justify-content: center;
  margin-bottom: 5em;
  text-align: center;
}

.text-banner-agri {
  justify-content: center;
  margin-bottom: 5em;
  text-align: center;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




@media(max-width: 1260px) {
  .hero__container_alim {
    background-size: 1200px 500px;
  }
  .texts-banner {
    margin-bottom: 12em;
  }
}

@media(max-width: 1010px) {
  .hero__container_alim {
    background-size: 1010px 500px;
  }
  .texts-banner {
    margin-bottom: 12em;
  }
}

@media(max-width: 900px) {
  .hero__container_alim {
    background-size: 900px 500px;
  }
  .texts-banner {
    margin-bottom: 12em;
  }
}

@media(max-width: 800px) {
  .hero__container_alim {
    background-size: 800px 500px;
  }
  .texts-banner {
    margin-bottom: 12em;
  }
}

@media(max-width: 700px) {
  .hero__container_alim {
    background-size: 700px 500px;
  }
  .texts-banner {
    margin-bottom: 12em;
  }
}

// @media(max-width: 768px) {
//   .hero_banner_alim {
//     width: 600px;
//   }
// }

// @media(max-width: 640px) {
//   .hero .search_title {
//     width: 400px;
//   }
// }
