.images-banner {
  width: 600px;
  height: 500px;
}

.hero .banner_title-trans {
    color: var(--theme-dark-text);
    font-size: 2em;
    font-weight: bold;
    max-width: 56rem;
    text-align: center;
    margin: 0 1rem;
}


