.hero {
  width: 100%;
  background: var(--theme-background-white);
}

.hero-color {
  background: var(--theme-background-color);
}

.hero__container_alim {
  min-height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: var(--space-l);
  // max-width: 1200px;
  // margin: 0 auto;
  background-image: url("banner-ecolab-duo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container_landing {
  min-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: var(--space-l);
  // max-width: 1200px;
  // margin: 0 auto;
  background-image: url("banner-ecolab-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}



.hero h1 {
  margin-bottom: 0;
  font-family: $headers-font;
}

.hero-color h1 {
  color: var(--theme-light-text);
}

.hero .search_title {
  margin: var(--space-s) auto;
  color: var(--theme-dark-text);
  font-size: 1.7em;
  width: 450px;
  text-align: center;
}

.hero .banner_title {
  margin: var(--space-s) auto;
  color: var(--theme-dark-text);
  font-size: 1.5em;
  font-weight: bold;
  width: 450px;
  text-align: center;
}

.hero .banner_subtitle {
  font-family: $body-font;
  font-size: 14px;
  width: 350px;
  margin-top: 1em;
  text-align: center;
}

.hero-color p {
  color: var(--theme-light-text);
}
