.images-banner {
  width: 450px;
  height: 500px;
}

.hero .banner_title-trans {
    color: var(--theme-dark-text);
    font-size: 2em;
    font-weight: bold;
    max-width: 56rem;
    text-align: center;
    margin: 0 1rem;
}

.section-trans {
  height: 450px;
  padding-left: 100px;
  padding-right: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;

}


.section-trans-droite {
    background-color: $light-blue;
}

.section-trans-gauche {
    background-color: #CEF3EA;
}

.section-trans p {
  width: 700px;
  font-size: 20px;
  color: black;
}

.section-trans-droite p {
  margin-left: 100px;
}

.section-trans-droite a {
  margin-left: 100px;
}

.section-trans-droite img {
  width: 70vh;
  height: 70%;
  margin: -11em;;
}

.section-trans-gauche img {
  width: 70vh;
  height: 70%;
  margin: 1em;;
}




