.btn-flat-download {
  color: $gray;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  text-decoration: none;
  position: absolute;
  left: 480px;
  bottom: -400px;
  width: 180px;
  font-size: 12px;
}

.btn-flat-download:hover {
  background: #1BCB7F;
  color: white;
}

.btn-flat-commencer {
  color: $gray;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  text-decoration: none;
  position: absolute;
  left: 880px;
  bottom: 44px;
  width: 180px;
  font-size: 12px;
}

.btn-flat-commencer:hover {
  background: #1BCB7F;
  color: white;
}
