.btn-flat-download {
  padding: 8px 24px;
  border-radius: 4px;
  background: $turquoise;
  transition: background 0.3s ease;
  position: absolute;
  left: 480px;
  bottom: -400px;
  width: 180px;
  font-size: 12px;
}

.btn-flat-download a {
 text-decoration: none;
 color: white;
}

.btn-flat-download:hover {
  background: #475454;
  color: white;
}

.btn-flat-commencer {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $turquoise;
  transition: background 0.3s ease;
  text-decoration: none;
  position: absolute;
  left: 880px;
  bottom: 44px;
  width: 180px;
  font-size: 12px;
}

.btn-flat-commencer a {
 text-decoration: none;
 color: white;
}

.btn-flat-commencer:hover {
  background: #475454;
  color: white;
}

.btn-flat-download-index {
  padding: 8px 24px;
  border-radius: 4px;
  background: $turquoise;
  transition: background 0.3s ease;
  position: absolute;
  left: 1170px;
  bottom: 294px;
  width: 140px;
  font-size: 12px;
}

.btn-flat-download-index a {
 text-decoration: none;
 color: white;
}

.btn-flat-download-index:hover {
  background: #475454;
  color: white;
}
