.btn {
  padding: 8px 30px ;
  margin: 5px;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  width: fit-content;
}

.btn-yellow:hover a {
  color: white;
}

.btn-red:hover a {
  color: white;
}

.btn-green:hover a {
  color: white;
}

.btn-red {
  background-color: $red;
  color: white;
}

.btn-red:hover {
  background-color: $light-red;
}

.btn-yellow {
  background-color: $yellow;
}

.btn-yellow:hover {
  background-color: $light-yellow;
}

.btn-green {
  background-color: $green;
}

.btn-green:hover {
  background-color: $light-green;
}



#dropdownMenuLink {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bolder;
}

.dropdown-item {
  font-size: 20px !important;
}

.dropdown-item:hover {
  color: white;
}

#dropdown-item-senourrir:hover {
  background-color: $yellow;
}

#dropdown-item-seloger:hover {
  background-color: $pink;
}

#dropdown-item-sedeplacer:hover {
  background-color: $green;
}

.btn-grey {
background-color: GREY;
}

.btn-grey:hover {
  background-color: #C5CED7;
  color: grey;
}








.btn-discover.simple a:hover {
  color: black !important;
  text-decoration: none;
}

.btn-discover.simple:hover {
  background-color: $light-gray;
  color: black !important;
  text-decoration: none;
}


.btn-discover.alim:hover {
  background-color: $light-yellow;
}

.btn-discover.log:hover {
  background-color: $light-red;
}

.btn-discover.trans:hover {
  background-color: $light-green;
}

.nouvelle {
  left: 348px;
  position: absolute;
}

.btn-flat-download a {
 text-decoration: none;
 color: $agri-orange !important;
}

.btn-flat-download:hover {
  background: $agri-orange;
}

.btn-flat-download a:hover {
  color: white !important;
}


.btn-flat-valider {
  padding: 8px 24px;
    border-radius: 33px;
    transition: background 0.3s ease;
    position: absolute;
    left: 10px;
    bottom: -41px;
    width: 180px;
    font-size: 12px;
    background-color: #F8CC8F;
    border: none;
    color: white;
}

.btn-flat-valider a {
 text-decoration: none;
 color: white;
}

.btn-flat-valider:hover {
  background: #F3AC45;
  color: white;
}

.btn-flat-recette {
  padding: 8px 24px;
    border-radius: 33px;
    transition: background 0.3s ease;
    width: 182px;
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    height: 50px;
    background-color: #F8CC8F;
    border: none;
    color: white;
}

.btn-flat-recette a {
 text-decoration: none;
 color: white;
}

.btn-flat-recette:hover {
  background: #F3AC45;
  color: white;
}

.btn-flat-commencer {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $turquoise;
  transition: background 0.3s ease;
  text-decoration: none;
  position: absolute;
  left: 880px;
  bottom: 44px;
  width: 180px;
  font-size: 12px;
}

.btn-flat-commencer a {
 text-decoration: none;
 color: white;
}

.btn-flat-commencer:hover {
  background: #475454;
  color: white;
}

.btn-flat-download-index {
  padding: 8px 24px;
  border-radius: 30px;
  background: $red;
  transition: background 0.3s ease;
  // position: absolute;
  // left: 1170px;
  // bottom: 294px;
  width: 120px;
  font-size: 12px;
  border-color: transparent;
}

.btn-flat-download-index a {
 text-decoration: none;
 color: white;
}

.btn-flat-download-index:hover {
  background: $light-red;
  color: white;
}

.btn-flat-inscription {
    padding: 8px 24px;
    border-radius: 30px;
    background: $red !important;
    transition: background 0.3s ease;
    width: 120px;
    font-size: 12px;
    border-color: transparent;
    height: fit-content;
    margin-left: 15px;
}

.btn-flat-inscription:hover {
  background: $light-red;
  color: white;
}


.button-details-product-fiche {
  background-color: transparent;
  border-radius: 30px;
  text-decoration: none;
  width: 100px;
  font-size: 10px;
  margin-left: 87px;
  border: white 2px solid;
}

.button-details-product-fiche:hover {
  color: black;
  border: black 2px solid;
}

.button-details-product-fiche a {
 text-decoration: none;
 color: white;
}

.button-details-product-fiche a:hover {
 text-decoration: none;
 color: black;
}


/// simulateur

button .App___StyledButton-z647t1-6 .hhrQqI{
  display: none;
}
