.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 28px;
  margin: 121px 63px 51px 36px;
}

.row {
  margin: 90px;
}

.card-title {
  margin-bottom: -5.25rem;
  text-align: center;
  font-family: $body-font;
  font-weight: bold;
  font-size: 18px;
}

.category-container {
  display: flex;
  height: 20px;
  justify-content: flex-start;
}

.home-container .card-category {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-container {
  background-color: white;
  padding: 25px 10px 10px 10px;
}

.card-category {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  // font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.category-item {
  margin-right: 25px;
  width: 200px;
}



/////////////////// LOGO /////////////////

.card-container-logo {
  background-color: white;
  padding: 7px 10px 10px 10px;
  height: 190px;
}

.card-title-logo {
  margin-bottom: -5.25rem;
  text-align: center;
  font-family: $body-font;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
}

.home-container-logo {
  display: grid;
  grid-template-columns: 1fr 2fr;
    /* grid-gap: 0px; */
    margin: 121px 63px 51px 36px;
    width: 700px;
    position: absolute;
    left: 486px;
}

.home-container-logo .card-category-logo {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-category-logo {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  // padding: 10px 15px;
  font-size: 16px;
  // font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/////////////////// USECASES /////////////////
.home-container-usecase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 121px 63px 63px 121px;
}

.card-container-usecase {
  padding: 25px 10px 10px 10px;
}

.card-usecase {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 280px;
  height: 280px;
  border-radius: 5px;
}

.card-usecase > img {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
}

.card-usecase h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.card-usecase p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-usecase .card-usecase-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-usecase-infos .card-usecase-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  background-color: white;
}

/////////////////// PARTNERS /////////////////

.home-container-usecasers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 121px 63px 63px 121px;
}

.home-container-usecasers .card-category-logo {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container-usecasers .card-category-logo img {
  background-size: contain;
  background-repeat: no-repeat;
}

/////////////////// CARD DEV /////////////////
.card-dev {
  overflow: hidden;
  position:relative;
  width: 80%;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0px 52px 29px 120px;
}

.card-dev h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dev p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 6px;
}

.card-dev .card-dev-infos {
  padding: 50px;
}


