.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 28px;
  margin: 121px 63px 51px 36px;
}

.home-container a {
  text-decoration: none;
}

@media(max-width: 1300px) {
  .home-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 640px) {
  .home-container {
    grid-template-columns: 1fr;
  }
}



.row {
  margin: 20px;
}

.card-title {
  margin-bottom: -5.25rem;
  margin-top: 1.8em;
  text-align: center;
  font-family: $headers-font;
  font-weight: bold;
  font-size: 22px;
}

.category-container {
  display: flex;
  height: 600px;
  justify-content: flex-start;
}

.home-container .card-category {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.card-container {
  background-color: white;
  padding: 5px 0px 5px 5px;
}

.card-category {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 1px 10px;
  font-size: 25px;
  // font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  // color: #CDD6D6;
  box-shadow: 0 0 20px rgba(0,0,0,0.98);
}



.category-item {
  margin-right: 25px;
  width: 200px;
}



/////////////////// LOGO /////////////////

.card-container-logo {
  background-color: white;
  padding: 7px 10px 10px 10px;
  height: 190px;
  text-align: center;
}

.card-title-logo {
  margin-bottom: -5.25rem;
  text-align: center;
  font-family: $body-font;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
}

.home-container-logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: center;
    /* grid-gap: 0px; */
}

.home-container-logo .card-category-logo {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0em 4em 0 0;
}



/////////////////// USECASES /////////////////
.home-container-usecase {
  display: flex;
  flex-direction: row;
  margin-top: 8em;
  margin-bottom: 4em;
  justify-content: space-evenly !important;
  flex-wrap: wrap;
}

.card-container-usecase {
  padding: 25px 10px 10px 10px;
  background-color: $agri-beigasse;
}

.card-usecase {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 310px;
  height: 310px;
  border-radius: 5px;
}

.card-usecase > img {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
  padding: 1em;
}

.card-usecase h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.card-usecase p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-usecase .card-usecase-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-usecase-infos .card-usecase-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  background-color: white;
}



/////////////////// CARD DEV /////////////////
.card-dev {
  overflow: hidden;
  width: 80%;
  height: 150px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 5em 5em 5em 9em;
}

.card-dev h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dev p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 6px;
}

.card-dev .card-dev-infos {
  padding: 50px;
}

.fiche-info-bdd {
  background-color: #474C50;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  margin-left: 75px;
}

.fiche-info-bdd h2 {
  color: white;
  font-size: 18px;
  margin: 14px;
}

.fiche-info-bdd p {
  color: white;
  font-size: 12px;
  margin: 14px;
}


.cartels-infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
}

.fiche-info-score {
  background-color: white;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  margin : 0px 20px 20px 0px;
}

.fiche-info-score h2 {
  color: black;
  font-size: 18px;
  margin: 14px;
}

.fiche-info-score p {
  color: black;
  font-size: 12px;
  margin: 14px;
}


