.filter-container {
  display: flex;
  height: 200px;
  justify-content: flex-start ;
  position: absolute;
  bottom: 128px;
  left: 32px;
  width: 100px;
}


.filterpar {
  position: absolute;
  bottom: 330px;
  left: 32px;
  font-family: $body-font;
  font-size: 16px;
  font-weight: bold;
}

.card-filter {
  color: #4A4A4A;
  height: 30px;
  font-size: 12px;
  border: 1px solid #4A4A4A;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.card-filter:hover {
  opacity: 1;
  color: $gray;
}

.card-filter a {
text-decoration: none;
 color: white;
}
