.fil-ariane-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: white;
}

.fil-ariane-bar p {
  font-family: $body-font;
  margin: 10px 30px;
  font-size: 12px;
}


.fil-ariane-bar i {
  margin-left: 20px;
  color: black;
  font-size: 10px;
}

.fil-ariane-bar a {
  text-decoration: none;
  color: black;
}

.fil-ariane-bar a:hover {
  color: $agri-vert;
}






