hr {
  border-top: 8px solid grey;
  width: 20px;
  margin: 0px 0px 5px 0px;
  border-radius: 70px;
}

.card-body {
  left: 200px;
  top: -59px;
  border: none;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  padding: 0px;
}
