.modal-content {
  width: 140%;
}

.titre-news {
  text-align: left;
  font-size: 2em;
  margin: 26px 26px 26px 0;
  font-weight: 600;
}

.newsletter {
  margin: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
