.modal-content {
  width: 140%;
}

.titre-news {
  text-align: left;
  font-size: 1.8em;
  margin: 26px 26px 26px 0;
  font-weight: 600;
  width: 600px;
}

.newsletter {
  margin: 3rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
