.modal-content {
  width: 140%;
}

.titre-news {
  text-align: left;
    font-size: 1.5em;
    margin: 26px 26px 26px 0;
    font-weight: 600;
}

.newsletter {
  max-height: fit-content;
  margin: 50px;
}
