.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 1px;
  width: 100%;
  box-shadow: 1px 1px 8px #80808024;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon a {
  font-family: $body-font;
  font-size: 14px;
}

.logo {
  width: 120px;
  margin-left: 30px;
}

.navbar-collapse {
  margin-right: 30px;
  margin-left: 5px;
  font-size: 12px;
}

.navbar-brand {
  margin-right: none !important;
}

.nav-item {
  text-align: center;
}



// .dropdown {
//   margin-bottom: 8px;
// }

// .dropdown-toggle {
//   margin-top: 5px;
// }

.border-none {
  border: none;
}

.navbar-nav button {
  padding: 0.4rem;
  background: white;
}

.navbar-nav button a {
  text-decoration: none;
  color: #036b70;
  background-color: transparent;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.navbar-nav button a:hover {
  text-decoration: none;
  color: white;
  background-color: $green;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border-width: 1px;
}

#navbarSupportedContent {
  position: absolute;
  left: 214px;
}

.donnees {
  font-size: 14px;
}
