@include media-breakpoint-down(sm) {
  .section-gauche,
  .section-droite {
    padding-left: 5px;
    padding-right: 5px;
  }
  .newsletter {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .section-gauche h4,
  .section-droite h4 {
    text-align: center;
  }
  .section-gauche img,
  .section-droite img {
    display: none;
  }
  .temoignage {
    font-size: 1rem;
  }
  .twitter-flex {
    flex-direction: column !important;
    align-content: center;
  }
  .text-p {
    width: 100%;
  }
  .section-rs .twitter-timeline {
    margin-left: 0;
  }
}
@include media-breakpoint-up(md) {
  .newsletter {
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  iframe {
    margin: 0px !important;
  }
  .temoignage {
    font-size: 1.3rem;
  }
  .section-droite img {
    width: 45vh;
    margin-left: 30px;
  }
  .section-gauche img {
    width: 45vh;
    margin-right: 30px;
  }
}
