.reu-container {
  background-color: white;
  padding: 10px 0px;
  text-align: center;
}

.reu-title {
  margin-top: 1em;
  font-size: 25px;
  font-weight: bolder;
  font-family: sans-serif;
}

.reu-category {
  height: 120px;
  width: 200px;
  padding: 20px;
  margin: 20px 50px;
  background-size: cover;
  background-position: center;
  background-repeat: round;
  background-clip: border-box;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.reu-category:hover {
  // color: #CDD6D6;
  box-shadow: 0 0 20px rgba(0,0,0,0.98);
}

.category-item {
  margin-right: 25px;
  width: 200px;
}
