.home-container-saison {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 28px;
  margin: 121px 63px 51px 36px;
}

.bigger {
  font-size: 24px;
}

.phrase-saison {
  justify-items: center;
  padding-left: 78px;
  font-size: 18px;
  font-weight: bold;
}

.reponse-saison-positive {
  justify-items: center;
  font-family: $body-font;
  background-color: #F2EEE5;
  color: $gray;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}

.reponse-saison-negative {
  justify-items: center;
  font-family: $body-font;
  background-color: #FFFFFF;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}



