.search-form-control {
  position: relative;
}

.search_title {
  font-weight: bold;
  font-size: 14px;
  font-family: $headers-font;
}

.form-control {
    width: 90vh;
    border-radius: 42px;
    height: 37px !important;
    margin-top: 22px;
    font-size: 12px;
    font-weight: 200;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search_examples {
  font-family: $body-font;
  font-size: 14px;
}
