.search-agribalyse-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: white;
}


.search-agribalyse-title-container .title-search {
  font-size: 20px;
  margin: 30px 40px;
}

.search-agribalyse-title-container .number-results {
  font-size: 12px;
  // margin: 30px 100px;
}

.results {
  flex-direction: row;
  justify-content: space-between;
}

.result-summary {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.result-summary h4 {
 margin: 20px 14px 0px 27px;
 font-size: 20px;
}

.product-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  // background-color: white;
}

.product-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  width: 270px;
  height: 250px;
  border-radius: 3px;
  margin: 20px;
}

.product-card:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.product-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px -9px 5px;
}

.product-title-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ecoscore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ecoscore .cate {
  margin: 0px 0px 8px;
}

.ecoscore .score {
  margin: 0px 0px 16px;
  text-align: center;

}

.product-card-header h2 {
  font-size: 16px;
}

.product-card-header p {
  font-size: 14px;
  font-weight: lighter;
}

.product-card-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $joli-gris;
  height: 200px;
  font-size: 10px;
}

.product-card-infos .impact {
  font-size: 10px;
}

.metrics-score-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px;
}

.3-metrics {
 height: fit-content;
}

.metrics-score-infos .3-metrics .metric {
  font-size: 8px;
}

.product-card-infos .button-details-product-fiche {
  margin-left: 87px;
}

.tri-criteria-name a {
  font-weight: lighter;
}

@media(max-width: 992px) {
  .product-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .product-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
