.body {
  background-color: #e5e7fa !important;
}

.section {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.section-rs {
  margin-top: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: white;
}

.section-rs .twitter-timeline {
  margin-left: 60px;
}


.section-produit {
  padding-left: 10vw;
  padding-top: 20px;
  background-color: transparent;
}

.section-produit#trans {
  padding-bottom: 30px;
}

.section-produit#alim {
  margin-top: 0px;
}

.element-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-p {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  font-weight: lighter;
  color: $gray;
  font-size: 16px;
  margin-bottom: 1rem;
}

.section__title {
  text-align: center;
  font-family: $body-font;
  font-size: 22px;
  font-weight: bold;
}

.section-margin {
  max-width: 860px;
  margin: 2rem 0;
}

.place-du-button-et-lien {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 25px;
  margin-bottom: 45px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.how a {
  text-decoration: underline;
  color: $gray;
  margin-left: 20px;
}

.how a:hover {
  color: black;
  font-weight: bold;
}

.how {
  text-decoration: underline;
  color: $gray;
  margin-left: 20px;
  margin-top: 70px;
}

.how:hover {
  color: black;
  font-weight: bold;
}
