.section {
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;

}

.element-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 125px;
}

.text-p {
  height: 100px;
  width: 300px;
  font-weight: lighter;
  color: $gray;
  font-size: 14px;
}

.section__title {
  margin-bottom: -5.25rem;
  text-align: center;
  font-family: $body-font;
  font-size: 22px;
  font-weight: bold;
  width: 860px;
  // margin-left: 152px;
}

.place-du-button-et-lien {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 25px;
  margin-bottom: 45px;
}


.how a {
  text-decoration: underline;
  color: $gray;
  font-size: 12px;
  margin-left: 20px;
  }

.how a:hover {
  color: black;
  font-weight: bold;
}
