.tab-content > .active {
 height: fit-content;
 background-color: white;
 text-align: center;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    // word-wrap: break-word;
    padding: 10px;
    background-color: bisque;
    // margin-top: 240px;
    width: fit-content;
    margin-left: 100px;
}
