// Search-bar aliments index

.search-aliment {
  margin-top: 90px;
  margin-bottom: 30px;
  justify-content: space-around;
  background: white;
  border-radius: 10px;
  padding: 15px 20px;
}

.form-control {
  max-width: 70vh;
  border-radius: 5px;
  height: 42px;
}

.inp {
  position: relative;
  // margin: auto;
  width: 100%;
  max-width: 400px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  // color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  background: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.15s ease;
}
.inp input:hover {
  // background: rgba(0,0,0,0.7);
}
.inp input:not(:placeholder-shown) + span {
  color: rgba(0, 0, 0, 0.7);
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: rgba(0, 0, 0, 0.7);
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

.label i {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.submit-index-search {
  margin-top: 24px;
  margin-left: 10px;
}

// aliments array
.aliments-array {
  max-height: 100vh;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  width: 800px;
  margin-bottom: 30px;
  padding: 0px 20px 0px 20px;
  justify-content: space-around;
  text-align: center;
}

.aliment-titre {
  width: 300px;
}

.array-header {
  position: sticky;
  top: 0;
  justify-content: space-around;
  background: white;
  border-bottom: solid 1px rgba(136, 152, 170, 0.5);
  // border-color: rgba(250, 163, 6, .2);
  padding-top: 15px;
  margin-bottom: 5px;
}
.array-header-column {
  width: 12%;
}
.array-header-column h4 {
  font-size: 14px;
  // padding: 0px 0 0px 0;
  text-align: center;
  // color: rgba(250, 163, 6, .7);
}
.aliments-card {
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(136, 152, 170, 0.2);
  margin: 10px 0;
}
.aliments-card i {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 16px;
  margin-top: 2px;
  margin-right: 8px;
}
.aliments-card:last-child {
  border-bottom: none;
  padding-bottom: none;
}
.aliment-infos {
  width: 40%;
  padding: 0px 2px 5px 2px;
  text-align: center;
  font-size: 8px;
}

.infos-titre {
  font-weight: bold;
  font-size: 12px;
  text-align: start !important;
  width: 40% !important;
}

.statut {
  position: relative;
}

.aliment-actions {
  width: 4%;
  text-align: center;
}

// dropdown menu dans l'array
.dropdown-index-aliments {
  font-weight: bolder;
  color: white;
}
.dropdown-item i {
  // color: white;
  font-size: 8px;
}
.dropdown-item {
  // color: white;
  font-size: 8px;
}
.dropdown-item:hover {
  color: rgba(250, 163, 6, 0.6);
  i {
    color: rgba(250, 163, 6, 0.8);
  }
}
.dropdown-menu {
  background-color: white;
  border: 1px solid (250, 163, 6, 0.6);
  border-radius: 1px;
  width: auto;
}

.dropdown-menu p {
  font-size: 6px;
}

// Bande de couleur array border-top
.color-line {
  margin-top: 15px;
  width: 100%;
  height: 2px;
  background-color: rgba(250, 163, 6, 0.7);
  border-radius: 15px 15px 0px 0px;
}

.fa-ellipsis-h:hover {
  zoom: 1.05;
}

.aliments-index-buttons {
  text-align: center;
  margin-bottom: 60px;
}
