<main role="main" class="container" >
  <div class="row">
    <div class="col-md-8 blog-main mx-auto">
      <div class="blog-post">
      <header>
        <h1><%= @meta['titre'] %></h1>
        <small>Publié le <%=@meta['date']%></small>
        <img width="100%" src="<%= image_path(@meta['image']) %>" />
      </header>
        <%= raw @content %>
      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</main>

