header {
  margin-bottom: 1rem;
}

header img {
  margin: 1rem 0;
}

header .badge {
  padding: 6px;
  border-radius: 20px;
}

#articles #tags {
  margin-top: 1rem;
}

.article-card {
  height: 20rem;
}
