#blog h1 {
  margin: 2rem;
  margin-right: 0;
}
#blog .searchbar input {
  min-width: 19rem;
}
#blog h3 {
  font-size: 1.5rem;
}

.blog-post {
  blockquote {
    margin-left: 0.6rem;
    border-left: 4px solid #6979F8;
    padding-left: 0.6rem;
    opacity: 0.75;
  }
  padding-top: 1rem;
  h1 {
    font-size: 2rem;
  }
  #blog h2 {
    font-size: 1.6rem;
    margin-top: 0.6rem;
    margin-right: 0;
  }
  header {
    margin-bottom: 1rem;
  }

  header img {
    margin: 1rem 0;
  }

  header .badge {
    padding: 6px;
    border-radius: 20px;
  }

  #blog .tags {
    margin-top: 1rem;
  }

  .article-card {
    height: 20rem;
  }

  table td {
    border: 1px solid #00c48c;
    padding: 0.3rem;
  }

  table th {
    background: #00c48c;
    border: 1px solid white;
    padding: 0.3rem;
    color: white;
  }
}

.article-card {
  background-color: white;
}
